@import url('https://fonts.googleapis.com/css?family=Ubuntu:200,300,400,700&display=swap');
body {
    background-color: #02002c;
    font-family: 'Ubuntu';
}

.card {
    width: 485.41px;
    height: 300px;
    background: #ebebeb;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.img-container {
    height: calc(100% - 36px);
    margin: 16px;
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid black;
}

.avatar {
    height: 70%;
}

.card-text {}

.card-text>div:first-child {
    font-size: 42px;
    font-weight: bold;
}

.card-text>div:last-child {
    font-size: 28px;
    font-weight: lighter;
    margin: 16px 0;
}