@import url('https://fonts.googleapis.com/css?family=Codystar|Megrim|Ubuntu:200,300,400,700&display=swap');
html,
body {
    background-color: #CCC;
    font-family: 'Ubuntu';
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    background: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#root {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.page {
    /* cursor: pointer; */
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    font-size: 25em;
    will-change: transform, opacity;
    text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
}

.controls {
    position: absolute;
    bottom: 16px;
    right: 16px;
    z-index: 2;
}

.button {
    position: relative;
    /* padding: 24px; */
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 24px;
    font-weight: 700;
    z-index: 2;
    height: 56px;
    width: 56px;
    margin: 0px 0px 0 16px;
    /* margin: 1em 0.8em; */
}

.button.type1 {
    color: #fff;
}

.button.type1.type1::after,
.button.type1.type1::before {
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.2s ease;
    border-radius: 2px;
}

.button.type1.type1::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #fff;
    border-right-color: #fff;
}

.button.type1.type1::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #fff;
    border-left-color: #fff;
}

.button.type1.type1:hover:after,
.button.type1.type1:hover:before {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 500px) {
    .page {
        font-size: 15em;
    }
}